body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2.ui.header.segment_header {
  text-transform: uppercase;
  color: darkgrey;
  font-size: 0.9em;
  letter-spacing: 0.07em;
}

.custom_icon {
  max-width: 70px;
  margin: auto;
  display: block;
}

.ui.button {
  font-weight: 400 !important;
  line-height: unset !important;
}

.ui.progress.form_progress_bar .bar {
  height: 1em;
  border-radius: 0;
}

.amenities_box .field {
  width: 50%;
}